.header {
  height: 300px;
  position: relative;
}

.section {
  background-color: #f8f9fa;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-items: center;
}

.header {
  background: linear-gradient(90deg, #3b30dd9e 0%, #d0d2e1 75%);
}

.root {
  background-color: #a9a9cf;
}

.content {
  position: absolute;
  top: 120px;
  left: 210px;
}

.card {
  margin: 10px 0px 10px 0px;
}

.contain {
  width: 50rem;
  height: 155vh;
  background: linear-gradient(90deg, #3b30dd9e 0%, #d0d2e1 75%);
}
